.dt_Table {
    background-color: var(--lightBlack);
}

.discsTabel .rdt_TableBody .rdt_TableRow {
    background-color: var(--lightBlack);
    border-bottom: 0.3em solid var(--black);
}

.discsTabel .rdt_TableBody .rdt_TableHeadRow {
    background-color: var(--yellow);
    /*border: 0.3em solid var(--black);*/
}

.discsTabel .rdt_TableCol {
    background-color: var(--pink);
    font-weight: bold;
    text-align: center;
    border-bottom: 0.3em solid var(--black);
}

.discsTabel .rdt_TableCell {
    background-color: var(--lightGrey);
    margin: 0;
}

.discsTabel .rdt_TableBody {
}

.discsTabel {
    width: 108%;
    left: -4%;
    position: relative;
    border: var(--border);
}



label {
    margin-left: 1ch;
    line-height: 1.5rem;
}
.tabel-no-data {
    margin: 1em;
}

.tabel input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid var(--black);
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.tabel input:checked {
    border: 6px solid var(--black);
    background-color: var(--pink);
}

.legend, legend {
    color: var(--black);
    background-color: var(--orange);
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
}

.reset-btn {
    background-color: var(--red);
}